<script src="{$data.admin_js_path}list_store.js"></script>
<div class="row">
    <div class="navbar">
        <!--<div class="navbar-inner">
            {$data.breadcrumb}
        </div>-->
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa-fw"></i>Stores Data
                <div class="pull-right">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
			<div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="table-responsive">
                           <form class="form-horizontal" id="frmadmin" action="{$data.admin_url}store/{$data.function}" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="iAdminId" value='{$data.admin_detail.iAdminId}'>
									<div class="form-group col-md-10" style="padding-left:15px;">
										<label for="typeahead">Name of Store</label>
										<input type="text" class="form-control " id="vStoreName" name="store_detail[vStoreName]" value="{$data.store_detail.vStoreName}" required>
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label  for="typeahead">Style</label>
										<div class="input-prepend">
											<div class="btn-group style-dropdawn">
												<select class="form-control " row="1" data-toggle="dropdown" id="stylevalue" data-all="Vintage,Modern,Slipee,Banana,Evening,Wow">		{section name=i loop=$style}
					                                <option value="{$style[i].vStyle}" {if $style[i].vStyle eq $data.size_detail['vStyle']} selected="selected"{/if}>{$style[i].vStyle}</option>
					                                {/section}
												</select>
											</div>
											<input class="form-control textdropdown" id="vStyle" name="store_detail[vStyle]" value="{$data.store_detail.vStyle}" type="text" required>
										</div>
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
  										<label for="typeahead">Description</label>
										<textarea class="form-control " rows="3" id="tDescription" name="store_detail[tDescription]" value="{$data.store_detail.tDescription}" required></textarea>
										
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Opening Hour</label>
										<input type="text" class="form-control " id="vOpeningHour" name="store_detail[vOpeningHour]" value="{$data.store_detail.vOpeningHour}"required>
										
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Phone Number</label>
										<input type="text" class="form-control " id="vPhoneNumber" name="store_detail[vPhoneNumber]" value="{$data.store_detail.vPhoneNumber}" required>
										
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Address</label>	
											<textarea class="form-control " rows="1" id="tAddress" name="store_detail[tAddress]" value="{$data.store_detail.tAddress}" required></textarea>
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label  for="typeahead">Area</label>
											<input type="text" class="form-control " id="vArea" name="store_detail[vArea]" value="{$data.store_detail.vArea}" required>
									</div>
									<!-- <div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Sizes</label>
										<div class="check-label">
											{section name=i loop=$store_size}
											<input type="checkbox" id="size-{$store_size[i].vSizeTitle}" name="vSize[]" value="{$store_size[i].vSizeTitle}">
											   <label for="size-{$store_size[i].vSizeTitle}">{$store_size[i].vSizeTitle}</label>											
											{/section}
										</div>	
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Price Avr.</label>
										<div class="check-label">
											{section name=i loop=$eSign}
											<input type="checkbox" id="size-{$eSign[i].eSign}" name="vPriceAvr[]" value="{$eSign[i].eSign}">
											   <label for="size-{$eSign[i]}">{$eSign[i].eSign}</label>											
											{/section}
										</div>
									</div> -->
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Looking for</label>
										<div class="input-prepend">
											<div class="btn-group looking-style-dropdawn">
												<select class="form-control" id="wearvalue" data-toggle="dropdown" data-all="Work Wear,Weekend Wear,Evening Wear,Special Event Wear,Vintage Wear">	
													{section name=i loop=$style_looking}
					                                <option value="{$style_looking[i].vStyleLookingName}" {if $style_looking[i].vStyleLookingName eq $data.size_detail['vStyle']} selected="selected"{/if}>{$style_looking[i].vStyleLookingName}</option>
					                                {/section}
												</select>
											</div>
										
											<input class="form-control textdropdowntest" id="vLookingFor" name="store_detail[vLookingFor]" value="{$data.store_detail.vLookingFor}" type="text" required>
											</div>
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Want to Buy</label>
										<div class="input-prepend">
											<div class="btn-group want-style-dropdawn">
												<select class="form-control" id="wantBuyValue" data-toggle="dropdown" data-all="Clothing,Lingerie,Coats,Bags,Shoes">	
													{section name=i loop=$store_category}
					                                <option value="{$store_category[i].vStoreCategoryName}" {if $store_category[i].vStoreCategoryName eq $data.size_detail['vStyle']} selected="selected"{/if}>{$store_category[i].vStoreCategoryName}</option>
					                                {/section}
												</select>
											</div>

											<input class="form-control wanttextdropdowntest" id="vWantToBuy" name="store_detail[vWantToBuy]" value="{$data.store_detail.vWantToBuy}" type="text" required>
											</div>
									</div>
									<div class="form-group col-md-10" style="padding-left:15px;">
										<label for="typeahead">Deeplink Support</label>
										<select name="store_detail[eDeeplinkSupport]" class="form-control" data-toggle="dropdown" required>
												{section name=i loop=$eDeeplinkSupport}
												    <option value="{$eDeeplinkSupport[i]}" {if $eDeeplinkSupport[i] eq $data.store_detail.eDeeplinkSupport}selected="selected"{/if}>{$eDeeplinkSupport[i]}</option>
												{/section}
												</select>
									</div>
									<div class="form-group col-md-10" style="padding-left:15px;">
										<label for="typeahead">Host Domain</label>
										<input type="text" class="form-control " id="vHostDomain" name="store_detail[vHostDomain]" value="{$data.store_detail.vHostDomain}" required>
									</div>
									<div class="form-group col-md-10" style="padding-left:15px;">
										<label for="typeahead">FB datasource</label>
										<input type="text" class="form-control" id="vFBDataSource" name="store_detail[vFBDataSource]" value="{$data.store_detail.vFBDataSource}" required>
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Instagram datasource</label>
										<input type="text" class="form-control" id="vInstagramSource" name="store_detail[vInstagramSource]" value="{$data.store_detail.vInstagramSource}" required>
										
									</div>
									<div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Main Image</label>
										{if $data.store_detail.vMainImage eq ''}
											<div class="input-group">
											<input type="text" class="form-control" readonly="" name="vMainImage">					
											<span class="input-group-btn">
												<span class="btn btn-primary btn-file">
													Browse <input type="file" name="vMainImage">
												</span>
											</span>
											</div>
										{/if}
											<!-- <div class="btn btn-primary btn-file">Browse
										}
										<input type="file" {if $data['user']['vMainImage'] eq ''}id="vMainImage"{/if} name="vMainImage"   value="{$data.admin_detail.vMainImage}">
                                       </div>  -->
                                    </div>
                                    <div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Small Image</label>
										{if $data.store_detail.vSmallIamge eq ''}
											<div class="input-group">
											<input type="text" class="form-control" readonly="" name="vSmallIamge">					
											<span class="input-group-btn">
												<span class="btn btn-primary btn-file">
													Browse <input type="file" name="vSmallIamge">
												</span>
											</span>
											</div>
										{/if}
                                    	<!-- <input type="file" class="filestyle" {if $data['user']['vSmallIamge'] eq ''}id="vSmallIamge"{/if} name="vSmallIamge" data-icon="false"  value="{$data.admin_detail.vSmallIamge}" onchange="CheckValidFile(this.value,this.name)"> -->
                                        
                                    </div>
                                    <div class="form-group col-md-10"style="padding-left:15px;">
										<label for="typeahead">Shop Image</label>
										{if $data.store_detail.vShopImage eq ''}
											<div class="input-group ">
											<input type="text" class="form-control" readonly="" name="vShopImage">					
											<span class="input-group-btn">
												<span class="btn btn-primary btn-file">
													Browse <input type="file" name="vShopImage">
												</span>
											</span>
											</div>
										{/if}
                                    	<!-- <input type="file" class="filestyle" {if $data['user']['vShopImage'] eq ''}id="vShopImage"{/if} name="vShopImage" data-icon="false"  value="{$data.admin_detail.vShopImage}" onchange="CheckValidFile(this.value,this.name)"> -->
                                        
                                    </div>

									<div class="form-group col-md-10" style="padding-left:15px;">
										
										<button type="button" class="btn bottom-buffer" onclick="returnme();">Cancel</button>
										<input type="submit" id="btn-save" class="btn btn-primary" value="Save changes" />
										
									</div>
								</fieldset>
							</form>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div id="morris-bar-chart"></div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
{literal}
<script type="text/javascript">
var abc = 0;
	$(document).ready(function(){
		$('#stylevalue').on('change',function(){
			var _selStyleVal = $(this).val();
			var text_value = $("#vStyle").val();
			if(text_value.match(_selStyleVal)){
				return false;
			}
			
			var _newStr = text_value;
			if(text_value != '' && _selStyleVal != ''){
				_newStr = text_value+','+_selStyleVal;
			}else if(_selStyleVal != ''){
				_newStr = _selStyleVal;
			}
			if(_selStyleVal == 'All'){
				_newStr = $(this).attr('data-all');
			}
			$("#vStyle").val(_newStr);
		});				

		$('#wearvalue').on('change',function(){
			var _selStyleVal = $(this).val();
			var text_value = $("#vLookingFor").val();
			if(text_value.match(_selStyleVal)){
				return false;
			}
			var _newStr = text_value;
			if(text_value != '' && _selStyleVal != ''){
				_newStr = text_value+','+_selStyleVal;
			}else if(_selStyleVal != ''){
				_newStr = _selStyleVal;
			}
			if(_selStyleVal == 'All'){
				_newStr = $(this).attr('data-all');
			}
			$("#vLookingFor").val(_newStr);
		});

		$('#wantBuyValue').on('change',function(){
			var _selStyleVal = $(this).val();
			// alert(_selStyleVal);return false;
			var text_value = $("#vWantToBuy").val();
			if(text_value.match(_selStyleVal)){
				return false;
			}
			var _newStr = text_value;
			if(text_value != '' && _selStyleVal != ''){
				_newStr = text_value+','+_selStyleVal;
			}else if(_selStyleVal != ''){
				_newStr = _selStyleVal;
			}
			if(_selStyleVal == 'All'){
				_newStr = $(this).attr('data-all');
			}
			$("#vWantToBuy").val(_newStr);
		});

			
	});
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>
{/literal}
