/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 85px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.create-row{left: 15px;}
.fancybox-skin{width: 60%;}
.user-label {
float: left;
padding-right: 50px;
text-align: right;
width: 50%;
}
.admin-label{float: left;padding-right: 10px;width: 30%;margin: 0 0 0 15px;}
.store-label{float: left;padding-right: 10px;width: 30%;margin: 0 0 0 15px;}
.admin-form{background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;}

.user-image{width: 20%;margin: 0 auto;}
.user-image img{text-align: center;}
.user-profile-header{ border-bottom: 1px solid #eee;
    margin: 0px 0 10px;
    padding-bottom: 9px;}

.textcss{width:64% !important;}
.textdropdown{ float: left;
    margin-left: 10px;
    width: 69.5% !important;}


/*Radio Button to label button*/    
.check-label input[type=checkbox] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
.check-label input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.check-label input[type=checkbox]:checked + label { 
   background-image: none;
    background-color:#d0d0d0;
}

.check-label label{cursor: pointer;-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;}
   .style-dropdawn{float: left;width: 29%;}
   /*modal css for delete record*/
   .modal-backdrop,
.modal-backdrop.fade.in { opacity: 0.8; filter: alpha(opacity=80); }
.modal-header { padding: 12px 15px 15px 15px; /*background:#497CD2; border-radius: 0px;*//*width:30%;margin: 0 auto;*/  }
.error_poptit { color:#000; /*text-shadow: 1px 0px 1px #cbf68f;*/ font-size:21.42px; font-weight:bold;  }
.modal-header .close { margin-top: -2px; }
.eor_poptxt h3 { margin: 0; line-height: 22px; font-size: 17px; color:#6e6e6e; /*text-shadow: 0px 1px 1px #fff;*/ font-family: Arial, Helvetica, sans-serif; padding-top:4px; }
.eor_poptxt{ text-align:left; vertical-align:top; padding: 8px 30px 15px 30px;}
.eor_poptxt img{ float:left; margin-right:20px;} 
.fade { opacity: 0;-webkit-transition: opacity 0.15s linear;-moz-transition: opacity 0.15s linear;-o-transition: opacity 0.15s linear;transition: opacity 0.15s linear;}
.modal-backdrop, 
.modal-backdrop.fade.in { opacity: 0.8; filter: alpha(opacity=80); opacity: 0.8; filter: alpha(opacity=80); position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: black; } 
.modal-body { max-height: 400px; padding: 15px; overflow-y: auto; }
.modal-body { text-align:left;}
.modal-body input[type="button"]{cursor:pointer; cursor:pointer;background: #85d885;}
.view_del_user{ margin-left:205px; margin-bottom:15px; }
.view_btn_user{ float:left; margin-right:5px; }
.view_btn_user .view_btnimg{ cursor:pointer; background: #598ce2; }/* Old browsers */
    .delete_user{ display:inline-block; vertical-align:top;}
.delete_user .delete_btnimg{ cursor:pointer; background: #598ce2;} /* Old browsers */
.modal.fade.in {
    top: 50%;
}
.fade.in {
    opacity: 1;
}
.modal.fade {
    top: -25%;
    transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
}
.modal1 {
    background-color: #fff;
    border-radius: 0;
    left: 50%;
    margin: -250px 0 0 -200px;
    overflow: auto;
    position: fixed;
    top: 68%;
    width: 430px;
    z-index: 1050;
    
}
.delete{
    float:left;
    margin-left:-40px;
}

.star_yellow {
    background: url("../img/star.gif") no-repeat scroll 0 -32px rgba(0, 0, 0, 0);
    outline:medium none !important;
}

.star_normal {
    background: url("../img/star.gif") no-repeat scroll 0 0px rgba(0, 0, 0, 0);
    outline:medium none !important;
}

.panel-body h5{padding-left:17px;}
.panel-body .thumbnail{border:none;}

.edit_personalization form { width:100%; float:left; }
.edit_personalization form label{margin-top:10px;}

.panel-body.img-list .row .col-lg-3{width:20%;}

.img-list.cat1 {
    float: left;
    width: 100%;
}

.store-image img{
    width: 20%;
}



.on_sale{color: inherit;
    background-color: transparent;
    transition: all .5s;color: #5cb85c;}
/*.on_sale.btn-outline:hover{color: #fff;}*/
.on_normal{color: inherit;
    background-color: transparent;
    transition: all .5s;color: #428bca;}
/*.on_normal.btn-outline:hover{color: #fff;}*/
.addtextstyle{float: left;margin-left: 0px;width: 64% !important;}
.addtextbuy{float: left;margin-left: 0px;width: 64% !important;}
.addtextlooking{ float: left;margin-left: 0px;width:64% !important;}
.sizetextcss{width: 30% !important;}
.size-style-dropdawn{width: 100%;}

#storetable tr td a{outline:medium none;}

.img-list.cat1 .col-md-4{ /*margin-left: 15%;*/ }
/*.img-list.cat1 .col-xs-6{ margin-left: 15%; }*/
.img-list.cat1 .forn_input{margin-top:15px;}
.img-list.cat1 .col-xs-6.thumb, .img-list.cat1 .col-xs-5.thumb {/*margin-left: 2%;*/ margin-top: 2%;}
#wrapper .panel-heading{float:left;width:100%;margin-bottom:15px;}

@media all and (max-width: 800px) and (min-width: 100px) {
	.img-list.cat1 .col-md-4{ margin-left: 0; }
}
.personal-image{
    width: 100%;
}
.personal-label{
    width: 15%;
}
#yourBtn{
   position: relative;
       top: 10px;
   font-family: calibri;
   width: 105px;
   /*padding: 10px;*/
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   /*border: 1px dashed #BBB;*/ 
   text-align: center;
   
   cursor:pointer;
   margin: 0 0 0 0px;
  }
.upload_inputfile_text{margin: 0px 0 4px 0px;width: 105px;}
.view-store-label {
float: left;
padding-right: 50px;
text-align: left;
width: 25%;
}

.view-store-image{width: 20%;margin: 0 0 0 25%;}
.view-store-image img{text-align: center;}
.store-textcss{margin-left: 0px !important;}
.city-label a{float: left;
    text-align: center;
    width: 100%;}
    
    
.modal-footer {   border-top: 0px; }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th{border-top: 0 none !important;}
.table > thead > tr > th{border-bottom: 0 none !important; border-top: 0 none !important;}
table tbody tr td:first-child{ text-align: center; vertical-align: middle !important; }
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-bottom:1px solid #DDDDDD !important;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{border-top: 0 none !important;}
.home-logo-temp{float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 3px 10px 6px;}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: left;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.looking-style-dropdawn{float: left;width: 35%;}
.textdropdowntest{
    margin-left: 10px;
    width: 64.5% !important;}
.wanttextdropdowntest{
    margin-left: 10px;
    width: 64.5% !important;}
.want-style-dropdawn{float: left;width: 35%;}    
.store-control{width: 161%;}
.upload-store{width: 162%;}
.add-per-cat{width: 50%;}
.all-view-store-details{margin-bottom: 15px;
width: 100%;
float: left;}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}

.panel-body a {outline:none;}